---
import { basics } from '@cv'
import Section from '@/components/Section.astro'
import Mail from '@/icons/Mail.astro'
import Phone from '@/icons/Phone.astro'
import LinkedIn from '@/icons/LinkedIn.astro'
import GitHub from '@/icons/GitHub.astro'
import WorldMap from '@/icons/WorldMap.astro'



const {name, label, image, location,  profiles, phoneES, phoneUK,  email } = basics 
const{city, region} = location 
const SOCIAL_ICONS: Record<string, any> = {
    GitHub,
    LinkedIn,
    
}
---

<Section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span> 
                <WorldMap/>
                <a
                class = "location"
                href="https://maps.app.goo.gl/KBWD965cwEkE1yu17"
                target="_blank"
                rel="noopener noreferrer"
                >
                {city}, {region}
                </a>
            </span>
            <footer>
                {
                    email && (
                        <a
                        href={`mailto:${email}`}
                        title={`Send an email to ${name} (${email})`}
                        target="_blank"
                        rel="noopener noreferrer"
                        > 
                        <Mail />
                        </a>
                    )
                }
                                {
                    phoneUK && (
                        <a
                        href={`UK phone number:${phoneUK}`}
                        title={`Call ${name} (${phoneUK})`}
                        target="_blank"
                        rel="noopener noreferrer"
                        > 
                        <Phone />
                        </a>
                    )
                }
                {
                    profiles.map(({network, url, username}) => {
                        const Icon = SOCIAL_ICONS[network]
                        return (
                            <a 
                                href={url}
                                title={`Visit profile of ${name} in ${network}`}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <Icon /> 
                            </a>
                        )
                    })
                }
            </footer>
        </div>
        <figure>
            <img src={image} alt={name}/> 
        </figure>
    </div>
</Section>

<style>
    .container{
        display:flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    .info{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding-right: 32px;  
    }

    h1{
        font-size: : 2rem; 
        
    }

    h2{
        color: #444;
        font-weight: 500;
        font-size: 1.1rem;
        text-wrap: balance;
    }

    img{
        aspect-ratio: 1/1;
        object-fit: cover; 
        width: 128px;
        border-radius: 16px;
    }
    span{
        color: #666; 
        display: flex; 
        align-items: center;
        gap: .25rem; 
        font-size: .85rem;
        letter-spacing: -.05rem;
    }

    footer{
        display: flex;
        gap: 4px; 
        margin-top:8px;

    }

    footer a{
        color: #777; 
        display: flex; 
        align-items: center;
        justify-content: center;
        border: 1px solid #eee; 
        padding: 4px; 
        height: 32px; 
        width: 32px;
        border-radius: 6px;
        transition: all .3s ease ; 
    }

    footer a:hover{
        background-color: #eee;
        border:1px solid #ddd; 
    }

    a.location {
        color: #666; 
        display: flex; 
        align-items: center;
        gap: .25rem; 
        font-size: .85rem;
        letter-spacing: -.05rem;
    }

    a.location:hover{
        text-decoration: underline; 
    }
</style>